extend layout
block content
  // Blog
  section#blog.updatable
      article
        .container
          .row
            .col-xs-12
              h2.header Blog: Amor aos Detalhes
          .row.post
            .col-md-9
              // Post 03
              .eachpost
                .title
                  .centered
                    div
                      h2 Presentes Especiales
                        a(href='/blog/bailarina-bebe') 
                  .clearfix
                  p
                    | Quinta-feira, 15 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img(src='/img/blog/presentes/thumb.jpg')
                p
                  | Hoje resolvi criar esse post para facilitar a entrega dos moldes que fiz de presente para vocês. 
                  | E para comemorar também os milhares de acessos ao site e a página Amor aos Detalhes! 
                  | Muito obrigada pelo carinho, me sinto infinitamente honrada e feliz <3
                p
                  | Para ter acesso ao conteúdo completo, você deve estar logado.
                p 
                  a.btn.btn-default(href='/blog/presentes-bebes') Bebes
                p 
                  a.btn.btn-default(href='/blog/presentes-bebes') Halloween
              // end Post 03

            aside.col-md-3
              .row
                .col-xs-12.col-sm-6.col-md-12
                  h3 O Blog
                  
                  p.
                   Bom, primeiramente quero agradecer pelas visitas e por todo carinho recebido, estou preparando esse cantinho especial para que vocês possam aprender a criar peças simples e lindas. Assim aos poucos o site vai tomando forma! <i class="icon-heart"></i>

          .row.post
            .col-md-9
              // Post 02
              .eachpost
                .title
                  .centered
                    div
                      h2 Queridinha das mamães: A Bailarina
                        a(href='/blog/bailarina-bebe') 
                  .clearfix
                  p
                    | Quarta-feira, 14 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img(src='/img/blog/bailarina/thumb.jpg')
                p
                  | Hoje eu trago para vocês uma peça que é muito solicitada por mamães de meninas, 
                  | a tão delicada bailarina. Desenhei e criei essa Bebê Bailarina para que vocês tenham 
                  | mais opções para mostrar às suas clientes. Com ela vocês pode criar lembranças de 
                  | aniversário, guirlandas, kit maternidades, peça decorativas, entre outros.
                p
                  | Para ter acesso ao conteúdo completo, você deve estar logado.
                a.btn.btn-default(href='/blog/bailarina-bebe') Ver mais
              // end Post 02

          .row.post
            .col-md-9
              // Post 01
              .eachpost
                .title
                  .centered
                    div
                      h2
                        a(href='/blog/peru-de-natal') Presente de Inauguração: Peru de Natal
                  .clearfix
                  p
                    | Domingo, 4 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img(src='/img/blog/peru/thumb.jpg')
                p
                  | O presente que preparei para vocês é um Peru de Natal, uma peça desenvolvida por Amor aos Detalhes, cheia de cores e amor!
                p
                  | Para ter acesso ao conteúdo completo, você deve estar logado.
                a.btn.btn-default(href='/blog/peru-de-natal') Ver mais
              // end Post 01


    // end Blog
