extend layout
block content
  // Blog
  section#blog.updatable
      article
        .container
          .row
            .col-xs-12
              h2.header Blog: Amor aos Detalhes
          .row.post
            .col-md-9
              // Post 01
              .eachpost
                .title
                  .centered
                    div
                      h2 No mundo mágico das Bonecas
                  .clearfix
                  p
                    | Segunda, 26 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img.thumbnail(src='/img/blog/bonecas/thumb.jpg')
                p.
                  Boa Noite!!

                p.
                  Essa edição do blog está linda demais! (<3)

                p.
                  Resolvi criar um passo-a-passo diferente dessa vez e espero que vocês gostem bastante, porque eu simplesmente amei fazer cada etapa! 
                
                p.
                  Esse final de semana resolvi me aventurar no mundo das bonecas e fiquei encantada com o resultado. O molde é bem simples e você pode criar peças maravilhosas e ricas em detalhes. Bonecas são ótimas para presentear crianças e pode ter as versões bonecos também, tenho certeza que será um presente lindo e que todos irão amar! Bom, vou parar de falar, rs

                p Vamos feltrar pessoal ??!

                p.
                  Material
                ul
                  li Tesouras
                  li Cola de silicone e Cola Quente
                  li Agulhas e Alfinetes
                  li Caneta preta de ponta fina.
                  li Feltro nas cores: Pele, Lilás, Tiffany e Marrom.
                  li Linhas nas cores: Pele, Lilás, Marrom e Preta.
                  li Blush e Pincel 
                  li Fibra acrílica para o enchimento.
                  li Enfeites
            .col-md-3
              p Download dos moldes
              .recent-news
                a(href="https://s3-sa-east-1.amazonaws.com/amoraosdetalhes.com.br/downloads/MoldesBonecas.pdf") 
                  span.glyphicon.glyphicon-download-alt MoldesBonecas

          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide01.jpg")
            .col-md-12 1˚ Passo: Recorte todos os moldes anexo nessa publicação.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide02.jpg")
            .col-md-12 2˚ Passo: Separe todo o material que irá utilizar.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide03.jpg")
            .col-md-12 3˚ Passo: Risque os moldes nos feltro indicados no arquivo anexo.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide04.jpg")
            .col-md-12 4˚ Passo: Reserve todas as peças cortadas, assim irá facilitar as etapas.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide05.jpg")
            .col-md-12 5˚ Una a parte da frente da cabeça com a frente do cabelo.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide06.jpg")
            .col-md-12 6˚ Faça o ponto palito contornando toda a frente do cabelo conforme a imagem.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide07.jpg")
            .col-md-12 7˚ Borde os olhos utilizando o ponto atrás.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide08.jpg")
            .col-md-12 8˚ Una o pedaço de recorte na cor tiffany e a frente vazada do vestido e faça ponto palito contornando toda a estrela.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide09.jpg")
            .col-md-12 9˚ Una a frente do vestido com a frente do corpo e passe o ponto palito no topo do vestido conforme a imagem.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide10.jpg")
            .col-md-12 10˚ Una o verso do vestido com o verso do corpo e passe o ponto palito no topo do vestido conforme a imagem.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide11.jpg")
            .col-md-12 11˚ Una a frente e o verso do corpo e faça o ponto caseado em torno de todo o vestido.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide12.jpg")
            .col-md-12 12˚ O vestido todo caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide13.jpg")
            .col-md-12 13˚ Comece o enchimento da peça e preencha todo o vestido.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide14.jpg")
            .col-md-12 14˚ Depois faça o ponto caseado em torno de toda a cabeça deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide15.jpg")
            .col-md-12 15˚ Separe as partes do cabelo e faça o ponto caseado em torno de toda a peça deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide16.jpg")
            .col-md-12 16˚ Você pode unir o cabelo com a cabeça usando cola quente ou ponto invisível.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide17.jpg")
            .col-md-12 17˚ Separe as partes das pernas e faça o ponto caseado em torno de toda a peça deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide18.jpg")
            .col-md-12 18˚ Separe as partes dos braços e faça o ponto caseado em torno de toda a peça deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide19.jpg")
            .col-md-12 19˚ Modelo de braço preenchido com fibra. Os braços e as pernas podem ser fixados com cola quente ou ponto invisível.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/bonecas/Slide20.jpg")
            .col-md-12 20˚ Aplique blush com um pincel macio nas bochechas.

          .row
            .col-md-12.text-center
              |  Você pode decorar sua boneca usando a sua criatividade. Não tenha medo de ousar!!! Solte a sua imaginação.
              br  
              |  Espero que tenham gostado, tudo foi feito com muito amor! 
              br
              |  Beijos iluminados e até a próxima edição.
          .row
            .col-md-12.text-center
              img.img-thumbnail(src="/img/blog/bonecas/big.jpg")