extend layout

block facebook

  //Facebook tags
  meta(property='og:locale', content='pt_BR')
  meta(property='og:description', content='#{desc}')
  meta(property='og:image', content='http://amoraosdetalhes.com.br/img/items/'+item+'/1.jpg')
  meta(property='og:image:type', content='image/jpeg')
  meta(property='og:type', content='article')
  meta(property='article:author', content='giulia.santos1')
  meta(property='article:section', content='Meus Trabalhos')
  meta(property='article:tag', content='feltro')
  meta(property='article:tag', content='fofuras')
  meta(property='article:tag', content='detalhes')

block content

  section#spuppie
    article
      .container
        .row
          .col-xs-12
            h2.header Meus Trabalhos
        .row
          .title
            .centered
              div
                h2 #{title}
            p Agosto 29, 2015
        .row
          .col-md-8
            #carousel-puppie.carousel.slide(data-ride='carousel', data-interval='false')
              // Wrapper for slides
              .carousel-inner
                .item.active
                  img(src='/img/items/'+url+'/1.jpg')    
                .item
                  img(src='/img/items/'+url+'/2.jpg')
                .item
                  img(src='/img/items/'+url+'/3.jpg')
          |       
          .col-md-4
            .row
              .col-xs-12.col-sm-6.col-md-12
                p #{desc}
              .col-xs-12.col-sm-6.col-md-12
                #carousel-thumb-puppie.carousel.slide(data-ride='carousel', data-interval='false')
                  // Wrapper for slides
                  .carousel-inner
                    .item.active
                      ol
                        li.active.thumb(data-target='#carousel-puppie', data-slide-to='0')
                          img(src='/img/items/'+url+'/thumbs/1.jpg')
                        |               
                        li.thumb(data-target='#carousel-puppie', data-slide-to='1')
                          img(src='/img/items/'+url+'/thumbs/2.jpg')
                        |               
                        li.thumb(data-target='#carousel-puppie', data-slide-to='2')
                          img(src='/img/items/'+url+'/thumbs/3.jpg')

              .fb-like(data-href='http://amoraosdetalhes.com.br/items/'+url, data-action='like', data-show-faces='false')  

    |   
    article
      .container
        .row
          .col-xs-12
            h2.header Veja tamb&eacute;m:
        |       
        .row(ng-controller='ItemsController')
          .col-xs-12
            .grid
              ul
                li(ng-repeat='item in items')
                  a(ng-href='/items/{{item.url}}')
                    img(data-ng-src='/img/items/{{item.url}}/thumbs/1.jpg')
                    span(ng-class='name') {{item.name}}
