extend layout
block content
  // Blog
  section#blog.updatable
      article
        .container
          .row
            .col-xs-12
              h2.header Blog: Amor aos Detalhes
          .row.post
            .col-md-9
              // Post 07
              .eachpost
                .title
                  .centered
                    div
                      h2 Lembrancinhas de Casamento em Feltro
                  .clearfix
                  p
                    | Segunda, 30 de Novembro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img.thumbnail(src='/img/blog/noivinhos/thumb.jpg')
                p.
                  Boa Noite!!

                p.
                  Essa edição do blog é para as futuras noivinhas (<3)

                p.
                  Devido aos diversos pedidos resolvi criar um passo-a-passo dos meus noivinhos fofos e espero que vocês gostem bastante! Uma dica muito importante para as noivinhas que não costuram e que também querem fazer suas lembrancinhas de casamento: imprima os moldes anexos e passe para o EVA ou papel cartão e crie latinhas com confetes em forma de coração ou um mini terço, será uma linda lembrancinha <3                
                p.
                  Lembrancinhas de casamento é algo que nunca sai de moda e a partir desse molde você pode adaptar com as características da sua noivinha e do seu noivinho!! Arrase nas encomendas!! Desejo a todos muito sucesso! <3

                p Agora chega de falar e vamos feltrar!!!

                p.
                  Material
                ul
                  li Tesouras
                  li Cola de silicone e Cola Quente
                  li Agulhas e Alfinetes
                  li Caneta preta de ponta fina.
                  li Feltro nas cores: Pele, Branco, Preto e Amarelo.
                  li Linhas nas cores: Pele, Branco, Preto, Amarelo, Marrom e Vermelho.
                  li Blush e Pincel 
                  li Fibra acrílica para o enchimento.
                  li Enfeites
            .col-md-3
              p Download dos moldes
              .recent-news
                a(href="https://s3-sa-east-1.amazonaws.com/amoraosdetalhes.com.br/downloads/MoldeNoivos.pdf") 
                  span.glyphicon.glyphicon-download-alt MoldesNoivos

          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos1.jpg")
            .col-md-12 1˚ Passo: Recorte todos os moldes anexo nessa publicação. Para facilitar as próximas etapas, separe todo o material.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos2.jpg")
            .col-md-12 2˚ Passo: Use o gabarito para marcar os olhos e a boca.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos3.jpg")
            .col-md-12 3˚ Passo: Passe cola de silicone na beirada do cabelo e cole sobre a rosto.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos4.jpg")
            .col-md-12 4˚ Passo: Borde a boca utilizando ponto atrás.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos5.jpg")
            .col-md-12 5˚ Passo: Separe todas as partes da cabeça e não se esqueça das orelhas.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos6.jpg")
            .col-md-12 6˚ Passo: Comece o caseado pelo cabelo.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos7.jpg")
            .col-md-12 7˚ Passo: Faça o ponto caseado em torno de toda a peça, deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos8.jpg")
            .col-md-12 8˚ Passo: As etapas serão as mesmas para a noivinha e noivinho. Esse será o resultado das cabeças preenchidas.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos9.jpg")
            .col-md-12 9˚ Passo: Separe todas as partes do corpo.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos10.jpg")
            .col-md-12 10˚ Passo: Passe cola de silicone na beirada da roupa e cole sobre o corpo pele no caso da noivinha ou feltro branco no caso do noivinho.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos11.jpg")
            .col-md-12 11˚ Passo: Una a frente e o verso do corpo e faça o ponto caseado em torno de toda a peça.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos12.jpg")
            .col-md-12 12˚ Passo: Deixe uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos13.jpg")
            .col-md-12 13˚ Passo: Separe as peças para o coque.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos14.jpg")
            .col-md-12 14˚ Passo: Faça o ponto caseado em torno de toda a cabeça deixando uma pequena abertura para o preenchimento com fibra e finalize o caseado.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos15.jpg")
            .col-md-12 15˚ Passo: Una o corpo, cabeça e coque utilizando o ponto invisível ou a cola quente.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos16.jpg")
            .col-md-12 16˚ Passo: Para finalizar cole os braços com cola de silicone. 
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos17.jpg")
            .col-md-12 17˚ Passo: Esse será o resultado e você pode colocar os detalhes de sua preferência.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos18.jpg")
            .col-md-12 18˚  Passo: Para facilitar a visualização da montagem do novinho.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos19.jpg")
            .col-md-12 19˚ Passo: Faça a união do corpo com a cabeça utilizando o ponto invisível ou a cola quente.
          .row.step
            .col-md-12
              img.img-thumbnail(src="/img/blog/noivinhos/noivos20.jpg")
            .col-md-12 20˚ Passo: Esse será o resultado e você pode colocar os detalhes de sua preferência.

          .row
            .col-md-12.text-center
              |  Crie vários estilos de noivinhas e noivinhos para mostrar às suas clientes. E você noivinha, que vai se arriscar pela primeira vez no mundo do feltro, não tenha medo e vá com tudo!! Tenho certeza que irá se apaixonar! <3
              br  
              |  Tudo foi criado com muito amor para vocês. 
              br
              |  Beijos iluminados e até a próxima edição.
          .row
            .col-md-12.text-center
              img.img-thumbnail(src="/img/blog/noivinhos/big.jpg")
