extend layout
block content
  div
    section
      article.patterns
        .container
          header
            h1 Nossos Moldes
          .row
            .title
              .centered
                div
                  h2 Faça você mesma!
              p 
              | Aproveite os nossos moldes.  
              | Com eles, você pode criar sua própria fofura sem sair de casa!
              hr
          .row.pattern
            .col-md-7
              h2 MoldeA
              p
                | From a standard bath to a full-pattern groom, we offer a variety of dog 
                strong.highlight grooming patterns
                |  that are just right for your puppy or dog.
              p
                | Firt choose, a Dog Bath or Dog Groom Package, then personalize the rest to fit your needs!

              a(href='#') &rarr; Download

            .col-md-5
              img(src='')

          .row.pattern
            .col-md-12.visible-xs.visible-sm
              h2 Kennel &amp; Boarding
            .col-md-5
              img(src='')
            .col-md-7
              h2.visible-md.visible-lg Kennel &amp; Boarding
              p
                | Our high-end luxury 
                strong.highlight Doggie Suites
                |  are all equipped with flat screen for your pet&apos;s enjoyment. Our facility was designed to offer you pet the most exclusive and unique experience, a perfect alternative to a caged boarding kennel.
              a(href='#') &rarr; View Pricing Table
          .row.pattern
            .col-md-7
              h2 Doggie Beds
              p
                | We sell some of the higets quality, name brand doggie beds. We offer a huge selection of some of the finest doggie beds you&apos;ll find anywere. You&apos;ll be sure to find the perfect bed for your pup!
              p
                | Our high-end luxury 
                strong.highlight Doggie Suites
                |  are all equipped with flat screen for your pet&apos;s enjoyment. Our facility was designed to offer you pet the most exclusive and unique experience, a perfect alternative to a caged boarding kennel.
              a(href='#') &rarr; View Pricing Table
            .col-md-5
              img(src='')
