extend layout

block facebook
  meta(property='og:image', content='http://amoraosdetalhes.com.br/img/blog/presentes/halloween-thumb.jpg')
  meta(property='og:image:type', content='image/jpeg')
  meta(property='og:type', content='article')
  meta(property='article:author', content='Giulia Santos Souza Zon')
  meta(property='article:author', content='giulia.santos1')
  meta(property='article:section', content='Blog')
  meta(property='article:tag', content='feltro,fofuras,detalhes')
  meta(property='article:tag', content='feltro')
  meta(property='article:tag', content='fofuras')
  meta(property='article:tag', content='detalhes')

block content
  // Blog
  section#blog.updatable
      article
        .container
          .row
            .col-xs-12
              h2.header Blog: Amor aos Detalhes
          .row.post
            .col-md-9
              // Post 01
              .eachpost
                .title
                  .centered
                    div
                      h2 2˚ Presente: Halloween!
                  .clearfix
                  p
                    | Quinta-feira, 15 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img.thumbnail(src='/img/blog/presentes/halloween-thumb.jpg')
                p O Halloween é chamado de Dia das Bruxas no Brasil, comemorado no dia 31 de outubro. 
                p A data ainda é muito tímida entre as nossas comemorações. Mas acredita-se que durante a passagem dessa noite, as almas saem de seu túmulos e partem pelas ruas amedrontando todos que estão por perto. 
                p Mas prometo que esse pequenos monstrinhos irão comemorar apenas as coisas boas da vida! <3
                p Então como o dia das bruxas está próximo essas peças são uma ótima dica para presentear amigos, familiares e até mesmo dar de lembrancinhas em aniversários. Por isso soltem a imaginação e mão a obra! Vamos Feltrar!!!!

                p Conto: O Halloween:
                
                p Havia numa cidade uma velhinha magrinha, alta, toda descabelada parecendo ter uns 90 anos de idade. Ela todas as noites de lua cheia aparecia em frente ao cemitério Cruz e ficava lá pedindo esmola. 
                p Um dia um grupo de alunos deu uma festa no Stilus Halloween, uma danceteria que ficava perto do cemitério Cruz. Foi uma festa sinistra, de arrepiar, de arromba que deixou a galera animada. A festa rolou até altas horas da madrugada, quando a turma decidiu voltar para casa. 
                p No caminho de volta da festa a galera passou em frente ao cemitério e viu uma velhinha pedindo esmola. Os garotos acharam muito esquisitos, mas como eram gentis foram lá vê-la e um dos jovens perguntou:  
                p - A senhora não tem medo de ficar aqui até essa hora da noite? 
                p Ela então respondeu:
                p - Quando eu era viva eu tinha. 
                p Ao ouvir isso todos saíram correndo...
                
            .col-md-3
              p Moldes
                ul  
                  li Frankenstein
                  li Fantasma
                  li Bebe Abóbora
              .recent-news
                a(href="https://s3-sa-east-1.amazonaws.com/amoraosdetalhes.com.br/downloads/MoldesHalloween.pdf") 
                  span.glyphicon.glyphicon-download-alt MoldesHalloween.pdf

          .row
            .col-md-12.text-center
              img.img-thumbnail(src="/img/blog/presentes/halloween-big.jpg")