extend layout

block facebook
  meta(property='og:image', content='http://amoraosdetalhes.com.br/img/blog/presentes/bebes-thumb.jpg')
  meta(property='og:image:type', content='image/jpeg')
  meta(property='og:type', content='article')
  meta(property='article:author', content='Giulia Santos Souza Zon')
  meta(property='article:author', content='giulia.santos1')
  meta(property='article:section', content='Blog')
  meta(property='article:tag', content='feltro,fofuras,detalhes')
  meta(property='article:tag', content='feltro')
  meta(property='article:tag', content='fofuras')
  meta(property='article:tag', content='detalhes')

block content
  // Blog
  section#blog.updatable
      article
        .container
          .row
            .col-xs-12
              h2.header Blog: Amor aos Detalhes
          .row.post
            .col-md-9
              // Post 01
              .eachpost
                .title
                  .centered
                    div
                      h2 1˚ Presente: Bebês, Ursinho e Passarinha.
                  .clearfix
                  p
                    | Quinta-feira, 15 de Outubro
                    i.icon-dot
                    |  Posted by Giulia

                .post-img
                  img.thumbnail(src='/img/blog/presentes/bebes-thumb.jpg')
                p Eu sou suspeita para falar sobre esses moldes, pois adoro o mundo de Bebês, acho que já deu para notar, não é mesmo ?! rs
                p Essas peças vão te ajudar na hora de mostrar opções para as mamães (clientes), você pode criar guirlandas, peças decorativas para o quartinho, chá de bebê e etc.
                p Li esse texto lindo em um Blog e quero compartilhar com vocês, ainda não sou mãe, mas acredito que seja uma emoção inexplicável carregar um pequeno anjo em nosso ventre, espero que gostem da leitura. :*
                p Quando um bebê decide vir ao mundo, nasce com ele uma mamãe. 
                p Uma mãe, é mãe desde o primeiro instante. Mesmo quando a vida ainda é um minúsculo ser implantado no ventre, a gente já é mãe do coração. Todo nosso pensamento, todo nosso cuidado se volta para esse serzinho que, tão minúsculo, já provoca emoções tão grandes. 
                p A simples descoberta já nos traz um turbilhão de emoções inexplicáveis. A vida nunca mais vai ser a mesma. E nos perguntamos: "será que vou ser uma boa mãe?" "Será que vou saber cuidar do meu bebê?" 
                p Mas uma mãe não nasce mãe e não aprende a ser em escolas. Uma mãe é e isso basta. Mãe sente, mãe adivinha, mãe aprende sofrendo, mãe sofre aprendendo. 
                p Benditas são as mulheres! Se elas suportam uma das maiores dores, sentem sem dúvida a maior das felicidades. Uma mulher grávida é sempre algo sublime, ela tem algo de anjo e santo, uma aura invisível que reflete e ilumina seu rosto. Ela carrega nela a vida, um pedacinho dela mesma que vai um dia ter vida própria e isso é maravilhoso e assustador ao mesmo tempo. 
                p Deve ser por isso que nos tornamos tão emotivas e choramos tão facilmente. Deve ser essa a razão de querermos estar satisfeitas em todos os nossos desejos. 
                p Que a gravidez não é uma doença é verdade. Mas que não digam que é normal e que a pessoa pode viver normalmente, pois isso não é verdade. Todo o equilíbrio físico, psicológico e emocional fica balançado. Há ainda hoje civilizações onde as mulheres grávidas são tratadas como seres especiais e divinos. 
                p Mãe que está descobrindo as alegrias da maternidade agora, deixa eu te dizer uma coisa: se você tem medo de não saber o suficiente para ensinar ao seu bebê os caminhos da vida, saiba que é com ele que você vai aprender a trilhar muitos desses caminhos. Viva a sua gravidez em todos os seus instantes e não se preocupe se está fazendo ou se fará as coisas certas ou erradas. Seu coração vai te ditar, confie nele! Aproveite ao máximo cada segundo, pois cada momento é único e esse privilégio não é dado a todos.

                p Lindo, Lindo e Lindo! <3
                
            .col-md-3
              p Moldes
                ul  
                  li Bebês
                  li Ursinho
                  li Passarinha
              .recent-news
                a(href="https://s3-sa-east-1.amazonaws.com/amoraosdetalhes.com.br/downloads/MoldesBebe.pdf") 
                  span.glyphicon.glyphicon-download-alt MoldesBebe.pdf

          .row
            .col-md-12.text-center
              img.img-thumbnail(src="/img/blog/presentes/bebes-big.jpg")