<footer>
  <!-- begin Contact-->
  <article class="contact">
    <div id="map"></div>
    <div id="contact_bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title">
              <div class="centered">
                <div>
                  <h2>Contato!</h2>
                </div>
              </div>
              <p>Entre em contato, mande para n&oacute;s suas sugest&otilde;es, cr&iacute;ticas e d&uacute;vidas!!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <address><i class="icon-home"></i> Guaratingueta, S&atilde;o Paulo<br/><i class="icon-phone"></i> Phone:  +55 12 2103 0886<br/><i class="icon-mail"></i> Email:  <a href="mailto:info@amoraosdetalhes.com.br">info@amoraosdetalhes.com.br</a><br/><i class="icon-facebook"></i> Facebook:  <a href="#">facebook.com/amoraosdetalhes</a><br/></address>
          </div>
          <div class="col-sm-6">
            <form id="contact-form" role="form" action="/mail" method="post" accept-charset="utf-8" class="form-inline">
              <div class="form-group pull-left">
                <label for="name" class="sr-only">Name</label>
                <input id="name" type="text" placeholder="Name" name="name" class="form-control"/>
              </div>
              <div class="form-group pull-right">
                <label for="email" class="sr-only">Email</label>
                <input id="email" type="email" placeholder="Email" name="email" class="form-control"/>
              </div>
              <textarea rows="8" name="message" class="form-control pull-left">Message</textarea>
              <input type="submit" value="Contact us" class="btn btn-default pull-right"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!-- end Contact-->
  <div class="bottom-foot">
    <p>&copy; 2015 Amor aos Detalhes<br/><a href="http://kbit.io">kbit.io</a></p>
  </div>
</footer>